#include "Resource.h"
#define VS_VERSION_INFO				1

#define VER_PRODUCTMAJORVERSION		0
#define VER_PRODUCTMINORVERSION	0
#define VER_PRODUCTBUILD			1
#define VER_PRODUCTBUILD_QFE		0

#if defined(_DEBUG) || defined(DEBUG) || defined(_DBG)
#define BETA
#endif

#define VER_FILETYPE					VFT_DLL

#define VER_PRODUCTNAME_STR				"dlldemo"
#define VER_INTERNALNAME_STR			"dlldemo.dll"
#define VER_COMPANYNAME_STR				"ННІЕЛІТ КрНУ"
#define VER_LEGALCOPYRIGHT_YEARS_STR	"2012-2026"
#define VER_LEGALCOPYRIGHT_STR			"Copyright © " VER_COMPANYNAME_STR " " VER_LEGALCOPYRIGHT_YEARS_STR
#define VER_FILEDESCRIPTION_STR			"dlldemo"
#define VER_PRIVATEBUILD_STR				"Приклад програмування з курсу лекцій " VER_COMPANYNAME_STR " " VER_LEGALCOPYRIGHT_YEARS_STR
#define VER_VERSION_UNICODE_LANG  		"042204B0"
#define VER_VERSION_TRANSLATION   		0x0422, 0x04B0
#include "VerInfo.Ver"